body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}

.row {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/* Navbar CSS Starts */

.navbar {
    padding: 0;
    background-color: rgba(4, 4, 4, 0.329);
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-left: 5px;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 5px #FF0000;
    color: white;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #fafafa;
    letter-spacing: 1px;
    font-weight: 400;
    margin-left: 10px;
    text-transform: uppercase;
    margin-right: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
    color: white;
    text-decoration-color: red;
}

.navbar-brand:hover {
    color: white;
}

.navbar-toggler {
    color: #ff0000;
    font-size: 1.3rem;
}

/* Navbar CSS Ends */

/* Alert Flash Message CSS Starts */

.alert-light {
    color: #0e0e0e;
    background-color: #fefefe8c;
    border-color: #fdfdfe;
}

/* Alert Flash Message CSS Ends *?

/* Footer CSS Starts */


.social-link a i{
    font-size: 2rem;
    color: #fafafa;
    margin-top: 2rem;
}

.social-link a i:hover {
    color: #ce1b1b;
}

.copyright-text {
    color: #fafafa;
}

/* Footer CSS Ends */

/* Home Page CSS Starts */
.home-heroimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/home-heroimage-large.jpg");
    height: 90vh;
    max-width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

@media (max-width: 1024px) {  
    .home-heroimage {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/home-heroimage-small.jpg");
        height: 70vh;
        max-width: 100%;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    
    }
}

.heading-lobster {
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 5px #FF0000;
    color: white;
}

.text-lobster a {
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 5px #FF0000;
    color: white;
    font-size: 1.2rem;
}

.home-heroimage-text {
    position: absolute;
    top: 20%;
    left: 15%;
}


@media (max-width: 472px) {
.home-heroimage-text {
    position: absolute;
    top: 20%;
    left: 2%;
    }
}

.home-heroimage-text h2 {
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    font-size: 5rem;
}

@media (max-width: 1024px) {
    .home-heroimage-text h2 {
        letter-spacing: 1px;
        font-weight: 700;
        color: white;
        font-size: 3rem;
    }
}

@media (max-width: 730px) {
    .home-heroimage-text h2 {
        letter-spacing: 1px;
        font-weight: 700;
        color: white;
        font-size: 2rem;
    }
}

.heading {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.red-bar {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(213, 14, 14), rgb(0, 0, 0));
    margin: 2rem;
}

.content {
    color: #fafafa;
    font-size: 1rem;
}

.wall-heroimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/home-thewall2.jpg");
    height: 50vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.heroimage-text h2 {
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    font-size: 5rem;
}

@media (max-width: 768px) {
    .heroimage-text h2 {
        letter-spacing: 1px;
        font-weight: 700;
        color: white;
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    .heroimage-text h2 {
        letter-spacing: 1px;
        font-weight: 700;
        color: white;
        font-size: 2rem;
    }
}

.brand-heroimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/home-brand.jpg");
    height: 50vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Home Page CSS Ends */

/* Jordan Page CSS Starts */

.jordan-heroimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/jordan-heroimage.jpg");
    height: 50vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (max-width: 1024px) {
    .jordan-heroimage {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/jordan-heroimage.jpg");
        height: 50vh;
        max-width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.content-image-right {
    height: auto;
    width: 50%;
    float: right;
    margin-left: 5px;
}

.content-image {
    height: auto;
    width: auto;
    margin-bottom: 1rem;
}

/* Jordan Page CSS Ends */

/* Nike Page CSS Starts */

.nike-heroimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/nike-heroimage.jpg");
    height: 50vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Nike Page CSS Ends */

/* Page Heading CSS Starts */

.page-heading h1 {
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Page Heading CSS Ends */

/* Signup Page CSS Starts */

.signup-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/signup-heroimage.jpg");
    height: 95vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.form-container {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(4, 4, 4, 0.507);
}

.form-group input {
    width: 50%;
    border: none;
    padding: 2px;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: rgba(4, 4, 4, 0.761);
    border-bottom: 3px solid white;
}

@media (max-width: 576px) {
.form-group input {
    width: 70%;
    border: none;
    padding: 2px;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    background-color: rgba(4, 4, 4, 0.761);
    border-bottom: 3px solid white;
    }
}

.label {
    color: #fafafa;
    font-size: 1.5rem;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #818181;
    transition: color 0.3s ease;
}

.input-text {
    color: white;
    font-size: 10px;
}
/* Signup Page CSS Ends */

/* Login Page CSS Starts */

.login-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/login-heroimage.jpg");
    height: 95vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Login Page CSS Ends */

/* Account Page CSS Starts */

.account-container {
    min-height: 87vh;
}

/*  Account Page CSS Ends */

/* The Wall Page CSS Starts */ 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-body {
    padding: 5px;
}

.card {
    background-color: #060606;
    background-clip: border-box;
    border: 1.5px solid rgba(228, 32, 32, 0.836);
    border-radius: .35rem;
}

.card-author {
    color: rgb(213, 213, 213);
    font-size: .7rem;
}

.card-title {
    font-size: 1rem;
    font-weight: 900;
}

.card-content {
    font-size: .9rem;
    font-weight: 100;
    color: #cfcfcf;
}

/* The Wall Page CSS Ends */

.newpost-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/account-heroimage.jpg");
    height: 95vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Edit Post Page CSS Ends */

.editpost-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/editpost-heroimage.jpg");
    height: 95vh;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.form-control {
    border: none;
    padding: 2px;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: rgba(4, 4, 4, 0.761);
    border-bottom: 3px solid white;
}

.form-control:focus {
    border: none;
    padding: 2px;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: rgba(4, 4, 4, 0.761);
    border-bottom: 3px solid white;
    box-shadow: none;
}

/* Edit Post Page CSS Ends */

/* JS Animation Starts */

span {
    color: rgba(0, 0, 0, 0.158);
    transition: all 0.2s ease;
}

span.red-animation {
   color: rgb(255, 255, 255);
}

/* JS Animation Ends */