{% extends 'base.html' %}
{% block title %} 
    Air Town - Ooops!
{% endblock%}

{% block content %}
    <div class="container-fluid error-container">
        <div class="row">
            <div class="col-12">
                <div class="heroimage-text text-center">
                    <h2 class="heading-lobster heading animation">
                        Something has clearly gone wrong here!
                    </h2>
                </div>
                <div class="content heading text-center">
                    <a class="link-text" href="{{ url_for('home_page') }}"> Take me back to Air Town ASAP!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}