{% extends 'base.html' %}

{% block content %}
<!-- User Account Section Starts -->
    <div class="container-fluid account-container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-6">
                <div class="heroimage-text text-center">
                    <h2 class="heading-lobster animation">
                        {{ username.capitalize() }}'s Account
                    </h2>
                </div>
                <div class="text-center">
                    <h4 class="page-heading heading">
                        Below are a list of you posts made on The Wall 
                    </h4>
                </div>
                <!-- Posts Starts -->
                <ul>
                    {% for post in posts %}
                        {% if session.user|lower == post.post_author|lower %}
                            <li>
                                <div class="card text-white mt-1 mb-1">
                                    <div class="card-body">
                                        <p class="card-author">
                                            Posted by {{ post.post_author.capitalize() }} on {{ post.post_date }}
                                        </p>
                                        <h5 class="card-title">
                                            {{ post.post_title }} - {{ post.category_name }}
                                        </h5>
                                        <p class="card-content">
                                            {{ post.post_content }}
                                        </p>
                                    </div>
                                    {% if session.user|lower == post.post_author|lower %}
                                    <div class="card-footer text-center">
                                        <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn btn-secondary text-right">Edit Post </a>
                                        <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn btn-danger text-right">Delete Post</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- Posts Ends -->       
            </div>
        </div>
    </div>


                
<!-- User Account Section Ends -->
{% endblock %}
