{% extends 'base.html' %}

{% block content %}
<!-- User Account Section Starts -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8">
                <div class="page-heading text-center">
                    <h1>
                        {{ username.capitalize() }}'s Account
                    </h1>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    
<!-- User Account Section Ends -->
{% endblock %}
