{% extends 'base.html' %}

{% block content %}
<!-- User Account Section Starts -->
    <div class="container-fluid account-container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-6">
                <div class="heroimage-text text-center">
                    <h2 class="heading-lobster animation">
                        {{ username.capitalize() }}'s Account
                    </h2>
                </div>
                
                {% if posts|length > 0 %}
                    <div class="text-center">
                        <h4 class="page-heading heading">
                            Below are a list of you posts made on The Wall 
                        </h4>
                    </div>
                <!-- Posts Starts -->
                    <ul>
                        {% for post in posts %}
                            {% if session.user|lower == post.post_author|lower %}
                                <li>
                                    <div class="card text-white mt-1 mb-1">
                                        <div class="card-body">
                                            <p class="card-author">
                                                Posted by {{ post.post_author.capitalize() }} on {{ post.post_date }}
                                            </p>
                                            <h5 class="card-title">
                                                {{ post.post_title }} - {{ post.category_name }}
                                            </h5>
                                            <p class="card-content">
                                                {{ post.post_content }}
                                            </p>
                                        </div>
                                        {% if session.user|lower == post.post_author|lower %}
                                        <div class="card-footer text-center">
                                            <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn btn-secondary text-right">Edit Post </a>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Post</button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                <!-- Posts Ends -->
                {% else %}
                <!-- Small heading to notify the User they have made no posts -->
                <div class="text-center">
                    <h2 class="page-heading heading">
                       Usually this area is stacked with your posts, but as you have yet to leave your mark on The Wall, we have give you a button to take you there below!
                    </h2>
                    <a class="btn btn-danger" href="{{ url_for('the_wall') }}">The Wall</a>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
{% for post in posts %}
    {% if session.user|lower == post.post_author|lower %}
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you wish to delete you post ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn btn-danger text-right">Delete Post</a>
                    </div>
                </div>
            </div>
        </div>      
    {% endif %}
{% endfor %}

                
<!-- User Account Section Ends -->
{% endblock %}
