<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" type="text/css">
<title>Air Town - Home Page</title>
</head>
<body>
<!-- Navbar Section Starts -->
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home_page') }}">Air Town</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>
    
            <div class="collapse navbar-collapse ml-auto" id="navbarNavDropdown">
    
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto">
                        <a class="nav-link ml-auto" href="{{ url_for('jordan_page') }}">Jordan</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link ml-auto" href="{{ url_for('nike_page') }}">Nike</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link ml-auto" href="{{ url_for('the_wall') }}">The Wall</a>
                    </li>
                    {% if session.user %}
                        <li class="nav-item ml-auto">
                            <a class="nav-link ml-auto" href="{{ url_for('account', username=session['user']) }}">Account</a>
                        </li>
                        <li class="nav-item ml-auto">
                            <a class="nav-link ml-auto" href="{{ url_for('signout') }}">Sign Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item ml-auto">
                            <a class="nav-link ml-auto" href="{{ url_for('login') }}">Login</a>
                        </li>
                        <li class="nav-item ml-auto">
                            <a class="nav-link ml-auto" href="{{ url_for ('sign_up')}}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
    
            </div>
        </div>
    </nav>
<!-- Navbar Section Ends -->

<!-- Flash Message Section Starts -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-light text-center alert-dismissible fade show" role="alert">
                        <h4> {{ message }} </h4>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
<!-- Flash Message Section Ends -->

<!-- Block Content Section Ends -->
{% block content %}

{% endblock %}
<!-- Block Content Section Ends -->

<!-- Footer Section Starts -->
    <footer>
        <div class="container-fluid justify-content-center">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-6 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item social-link">
                            <a href="https://www.facebook.com/harkarn.dhillon" target="_blank">
                            <i class="fab fa-facebook-square" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item social-link">
                            <a href="https://github.com/Harry-Leepz" target="_blank">
                            <i class="fab fa-github-square" aria-hidden="true"></i>
                            <span class="sr-only">Github</span>
                            </a>
                        </li>
                        <li class="list-inline-item social-link">
                            <a href="https://www.linkedin.com/in/harry-dhillon-299b321b3/" target="_blank">
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                            <span class="sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li class="list-inline-item social-link">
                            <a href="https://www.instagram.com/heyimharryd/?hl=en" target="_blank">
                            <i class="fab fa-instagram-square" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                    </ul>
                    <small class="copyright-text">
                        &copy; Copyright 2020. Harry Dhillon. This project is made for educational purposes only. No commercial revenue is generated from the project.
                    </small>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Section Ends -->

<!-- Script Tags Start -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
{% block scripts %}

{% endblock %}
<!-- Script Tags End -->
</body>
</html>