{% extends 'base.html' %}
{% block title %} 
    Air Town - Edit Page
{% endblock%}

{% block content %}
<!-- Edit Post Section Starts -->
    <div class="container-fluid editpost-container">
        <div class="row justify-content-center">
            <div class="col-12 justify-content-center">
                <div class="heroimage-text text-center">
                    <h2 class="heading-lobster animation">
                        Editing your post huh !?
                    </h2>
                </div>
                <div class="form-container text-center">    
                    <form method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">
                        <div class="form-group text-center">
                        <!-- Post Title-->
                            <input class="" maxlength="50" minlength="5" id="post_title" name="post_title"
                            type="text" placeholder="Give your post a title!"  pattern="^[a-zA-Z0-9]{5,50}$" value="{{ post.post_title }}" required>
                            <p class="input-text"> Between 5-50 characters</p>
                        </div>
                        <!-- Post Category Selection-->
                        <div>
                            <select id="category_name" name="category_name" class=" form-control mb-3"
                                aria-placeholder="Choose a post type" required>
                                {% for category in categories %}
                                    {% if category.category_name == post.category_name %}
                                        <option value="{{ category.category_name }}" selected>
                                            {{ category.category_name }}
                                        </option>
                                    {% else %}
                                        <option>
                                            {{ category.category_name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <p class="input-text">Please select an option relevant to the post</p>
                        </div>
                        <!-- Post Content-->
                        <div class="form-group">
                            <textarea rows="3" class="form-control" minlength="5" maxlength="500" id="post_content"
                                name="post_content" type="text" placeholder="Your thoughts!"  pattern="^[a-zA-Z0-9]{5,500}$" required>
                            {{- post.post_content -}}
                            </textarea>
                            <p class="input-text"> Between 5-500 characters</p>
                        </div>
                        <a href="{{ url_for('the_wall')}}" class="btn btn-light"> Cancel changes!</a>
                        <button type="submit" class="btn btn-danger">Edit Post!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Edit Post Section Ends -->
{% endblock %}