{% extends 'base.html' %}

{% block content %}
<!-- Hero Image Section Starts -->
    <div class="container-fluid home-heroimage">  
        <div class="home-heroimage-text">
            <h2 class="heading-lobster">Welcome to...</h2>
            <h2 class="heading-lobster animation"> Air Town</h2>
        </div>
    </div>
<!-- Hero Image Section Ends -->

<!-- Introduction Starts -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 col-lg-6 text-center">
                <h2 class="page-heading heading">
                    For Sneaker Lovers, By Sneaker Lovers...
                </h2>
                <hr class="red-bar">
                <p class="content">
                    Welcome to Air Town, the place where sneaker lovers come to discuss all things related to sneakers.
                </p>
                <p class="content">  
                    Whether you choose to brag and show off your latest swag, choose to offer your opinion on the latest trends or perhaps review your latest pair of Jordans.
                </p>
                <p class="content">
                    New to the Sneaker scene ? Want to learn more about the biggest brands ?
                    Check out the pages we have for our brands to learn a little about the history and why they stand our from the rest as the go to for sneakers.
                </p>
                <hr class="red-bar">
            </div>
        </div>
    </div>
<!-- Introduction Ends -->

<!-- The Wall Introduction Starts -->

    <div class="container-fluid">
        <div class="wall-heroimage heroimage-text">
            <h2 class="heading-lobster">
                The Wall
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 col-lg-6 text-center">
                <h2 class="page-heading heading">
                    One Place, One Space...
                </h2>
                <hr class="red-bar">
                <p class="content">
                    Only time people come to the wall is when they have something to say.
                </p>
                <p class="content">
                    Have a look around and see what other have to say. Whether you want to show your sneakers off, or whether it's' to give someone else the spotlight to flex.
                </p>
                <p class="content">
                    Sign up with Air Town to create an account. Once created you can freely start posting on The Wall. Create / edit / delete, it's your space, make it count.
                </p>
                <hr class="red-bar">
            </div>
        </div>
    </div>

<!-- The Wall Introduction Ends -->

<!-- Brand Introduction Starts -->

    <div class="container-fluid">
        <div class="brand-heroimage heroimage-text">
            <h2 class="heading-lobster">
                The Brands
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 col-lg-6 text-center">
                <h2 class="page-heading heading">
                    “Jack and Jill raced up the hill to see who was faster. Jack’s feet were bare, Jill had Nike Air, poor Jack could never catch her.”
                </h2>
                <hr class="red-bar">
                <p class="content">
                    Why are people willing to fork out for the best brands, what makes those brands so special ?
                </p>
                <p class="content">
                    Brands and experiences are predicated on the emotional. They don't represent a need, but an aspiration.
                </p>
                <p class="content">
                   The brands that are willing to take risks, to make moves that may make others uneasy, they are the ones we remember. 
                </p>
                <p class="content">
                    Why bother trying to blend in and seem ordinary, when we stand out and be extradinary ?  
                 </p>
                <hr class="red-bar">
            </div>
        </div>
    </div>

<!-- Brand Introduction Ends -->

{% endblock %}
