{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="jordan-heroimage heroimage-text">
            <h2 class="heading-lobster animation">
                 Air Jordan
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 col-lg-6 text-left">
                <h2 class="page-heading heading text-center">
                    Why drive when you can fly
                </h2>
                <hr class="red-bar">
                <div class="text-center">
                    <img class="content-image" src="{{ url_for ('static', filename='images/jordan-icon.png') }}" alt="Jumpman Logo Used for the Jordan brand logo">
                </div>    
                <p class="content">
                    The Air Jordan brand, produced by Nike started in 1984, and was created to produce sneakers exclusively for Michael Jordan. The sneakers were released to the public a year later. 
                    The Jordan brand launched as a subsidary in 1997. Since then the brand has elevated itself to the premium spot for sneaker lovers.
                </p>
                <img class="content-image-right" src="{{ url_for ('static', filename='images/air-jordan-sneaker.jpg') }}" alt="Air Jordan 1 Sneakers">
                <p class="content">
                    The Air Jordan 1 is widely credited as the shoe that began sneaker culture. A new edition of the shoe dropped every year of Jordan's playing career. 
                </p>
                
                <p class="content">
                    Sneakerheads line up for days for the release of the latest drop, spending thousands of dollars. But Jordan was the one who started it all.
                </p>
                <p class="content">
                    MJ's famous black-and-red shoes were against NBA regulations at the time, due to colour restrictions, which stated shoes needed to be primarily white. No matter – Nike simply paid 
                    the rookie's $US5000 per game fine – and by all accounts, the investment paid off for them. The same shoe – and countless others – has been remade over and over in the past two decades.
                </p>
                <p class="content">
                    As explained in the ESPN-Netflix documentary,
                    "Nike's expectation when we signed the deal was at the end of year four they hoped to sell $3 million worth of Air Jordans. In year one, we sold $126 million."
                </p>
                <p class="content">
                    On June 5, Michael Jordan and Jordan Brand committed to donate $100 million over 10 years to directly impact the fight against systemic racism. NIKE, Inc. committed $40 million over 
                    the next four years, on behalf of the Nike, Jordan and Converse brands collectively, to invest in and support organizations focused on social justice, education and economic empowerment 
                    to address racial inequality.
                </p>
                <hr class="red-bar">
            </div>
        </div>
    </div>
{% endblock %}