{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="jordan-heroimage heroimage-text">
            <h2 class="heading-lobster">
                 Air Jordan
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 col-lg-6 text-center">
                <h2 class="heading-lobster heading">
                    “I’ve missed more than 9000 shots in my career. I’ve lost almost 300 games. 26 times, I’ve been trusted to take the game winning shot and missed. 
                    I’ve failed over and over and over again in my life. And that is why I succeed.”
                </h2>
                <hr class="red-bar">
                <p class="content">
                    Why are people willing to fork out for the best brands, what makes those brands so special ?
                </p>
                <p class="content">
                    Brands and experiences are predicated on the emotional. They don't represent a need, but an aspiration.
                </p>
                <p class="content">
                The brands that are willing to take risks, to make moves that may make others uneasy, they are the ones we remember. 
                </p>
                <p class="content">
                    Why bother trying to blend in and seem ordinary, when we stand out and be extradinary ?  
                </p>
                <hr class="red-bar">
            </div>
        </div>
    </div>
{% endblock %}