{% extends 'base.html' %}

{% block content %}
<!-- Login Section Starts -->
    <div class="page-heading text-center">
        <h1>
            Log into your Air Town account!
        </h1>
    </div>

    <div class="container-fluid signup-container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 justify-content-center">    
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="form-group">
                        <!-- Username -->
                        <input type="text" name="username" class="form-control form-control-lg" id="username" 
                        placeholder="Enter Username" minlength="5" maxlength="15"
                         pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                    <div class="form-group">
                        <!-- Password -->
                        <input type="password" name="password" class="form-control form-control-lg" id="password"
                        minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Enter Password" required>
                    </div>
                    <button type="submit" class="btn btn-dark text-center">Log In</button>
                </form>
            </div>
        </div>
    </div>

    <div class="page-content text-center">
        <p>
            Don't already have an account with Air Town ? <span><a href="{{ url_for('sign_up') }}">Sign Up</a></span>
        </p>
    </div>
<!-- Login Section Ends -->
{% endblock %}