{% extends 'base.html' %}
{% block title %} 
    Air Town - Nike Page
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <div class="nike-heroimage heroimage-text">
            <h2 class="heading-lobster animation">
                Nike, Inc.
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 col-lg-6 text-left">
                <h2 class="page-heading heading text-center">
                    Believe in something. Even if it means sacrificing everything.
                </h2>
                <hr class="red-bar">
                <div class="text-center">
                    <img class="content-image" src="{{ url_for ('static', filename='images/nike-icon.png') }}"
                    alt="Nike Swoosh logo used as the Nike brand logo">
                </div>
                <p class="content">
                    Think of a sneaker brand, or any brand for that matter, and chances are Nike is one of the first to pop into your head. 
                    A sportswear icon, the Oregon-born company has been making its shoes for over 50 years.
                </p>
                <p class="content">
                    Founded back in January 25, 1964, as "blue Ribbon Sports", the company officially became Nike, Inc. on May 30, 1971. 
                    The company takes its name from Nike, the Greek goddess of victory.
                </p>
                <p class="content">
                    Nike markets its products under its own brand, as well as Nike Golf, Nike Pro, Nike+, Air Jordan, Nike Blazers, 
                    Air Force 1, Nike Dunk, Air Max, Foamposite, Nike Skateboarding, Nike CR7, and subsidiaries including Jordan Brand and Converse.
                </p>
                <img class="content-image-right" src="{{ url_for ('static', filename='images/airmax-sneaker.jpg') }}"
                alt="Nike Air Max sneakers">
                <p class="content">
                    Known for it's Visible Air technology, the Air Max is the jewel in Nike's sneaker crown—so much so that they dedicate a 
                    day every year to celebrate the sneaker (March 26th if you were wondering). A modern classic, 
                    we'd argue that if you're only investing in one pair of Nikes, you should make it a pair of Air Max.
                </p>
                <p class="content">
                    The original Air Force 1 was actually inspired by a hiking boot, which perhaps explains the chunky sole and ankle strap 
                    usually found on Nike's most iconic basketball sneaker. One of the brand's most practical shoes, the Air Force 1 was their 
                    first style to feature a full-length Air Sole. The ankle strap is also said to be pretty successful in preventing injury. 
                    Today, this style remains popular both as a street and sports shoe.
                </p>
                <p class="content">
                    "Juse Do It". Nike continues to use the tagline across much of its advertising and branding today. “‘Just Do It’ is still as relevant to 
                    us as a brand today as it was 23 years ago,” says Davide Grasso, VP of global brand marketing at Nike. 
                    “It has been translated into many, many languages.” 
                </p>
                <p class="content">
                    Nike, Inc. Mission :
                    Bring inspiration and innovation to every athlete in the world. If you have a body, You are an athelete.
                </p>
                <hr class="red-bar">
            </div>
        </div>
    </div>
{% endblock %}