{% extends "base.html" %}

{% block content %}

<!-- The Wall Heading Starts -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12 col-lg-6 col-12">
                <div class="heroimage-text text-center">
                    <h2 class="heading-lobster animation">
                        Welcome to The Wall
                    </h2>
                </div>
                <div class="text-center">
                    <h4 class="page-heading heading">
                        Speak up. Believe in yourself. Take risks. Don't be afraid of being disliked or hated.
                        <br>
                        Learn to love the hate. Embrace it. Enjoy it. You earned it. Everyone is entitled to their own opinion and 
                        everyone should have one about you. Haters are a good problem to have. Nobody hates the good ones. They hate the great ones.
                    </h4>
                </div>
            </div>
        </div>
    </div>

<!-- The Wall Search Starts -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                <form method="POST" action="{{ url_for('search') }}">
                    <div class="text-center">
                        <!-- Search -->
                        <input type="text" name="query" class="validate search-input" id="query" placeholder="Search via Category or Post Title" minlength="3" required>
                    </div>
                    <div class=" button-container text-center">
                        <a href="{{ url_for('the_wall') }}" class="btn btn-danger mb-1 mt-1"> Reset </a>
                        <button type="submit" class="btn btn-light mb-1 mt-1"> Search </button>
                    </div>  
                </form>
            </div>
        </div>
    </div>

    {% if posts|length > 0%}
<!-- The Wall Post Section Starts -->
        <div class="container-fluid wall-container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-sm-12 col-lg-6 col-12">
                    {% if session.user %}
                        <a href="{{ url_for('new_post') }}" class="btn btn-danger text-right">Create New Post</a>
                    {% endif %}
                    <!-- Posts Starts -->
                    <ul>
                        {% for post in posts %}
                            <li>
                                <div class="card text-white mt-1 mb-1">
                                    <div class="card-body">
                                        <p class="card-author">
                                            Posted by {{ post.post_author.capitalize() }} on {{ post.post_date }}
                                        </p>  
                                        <h5 class="card-title">
                                                {{ post.post_title }} - {{ post.category_name }}
                                        </h5>
                                        <p class="card-content">
                                            {{ post.post_content }}
                                        </p>
                                    </div>
                                    {% if session.user|lower == post.post_author|lower %}
                                    <div class="card-footer text-center">
                                        <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn btn-secondary text-right">Edit Post</a>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                            Delete Post
                                        </button>
                                    </div>
                                    {% endif %}
                                </div>
                            </li>   
                        {% endfor %}    
                    </ul>
                </div>
            </div>
        </div>
    {% else %}    
        <div class="text-center">
            <h2 class="page-heading heading">
                Sorry, No results found!
            </h2>
        </div>
    {% endif %} 


{% for post in posts %}
    {% if session.user|lower == post.post_author|lower %}
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you wish to delete you post ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn btn-danger text-right">Delete Post</a>
                    </div>
                </div>
            </div>
        </div>      
    {% endif %}
{% endfor %}

{% endblock %}